@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

html {
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}

.heading {
  text-align: center;
  color: brown;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
}

.result {
  height: 60px;
  background-color: #bbb;
  width: 100%;
}

.result p {
  font-size: 40px;
  margin: 5px;

}

.calculator-body {
  max-width: 400px;
  margin: auto;
}

.button {
  display: block;
}

button {
  width: 25%;
  height: 90px;
  font-size: 38px;
}